@import "vars";
@import "mixins";

// Global classes
.center {
  width: $baseWidth;
  margin-left: auto;
  margin-right: auto;
}

// Header
header {
  width: 324px;
  height: 180px;
  margin: 0 auto 49px;
  background: url(../images/logo.png) no-repeat center;
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Navigation
nav {
  font-weight: 200;
  // background: $light;
  width: 100%;
  // Fixed position transition hack
  position: relative;
  top: -49px;
  height: 0px;
  z-index: 1;

  position: fixed;
  top: 0;
  height: 270px;

  .step1{ color: $step1Color }
  .step2{ color: $step2Color }
  .step3{ color: $step3Color }
}
  .fixedPosition {
      position: fixed;
      top: 0;
      height: 49px;
  }

.landing-content {

  article {
    margin-top: 270px;
    height: $stepHeight;
    font-size: 1.1em;
    font-weight: 200;
  }
  .center {
    margin-top: 90px;
  }
  .tip {
    display: inline-block;
    position: relative;
    left: -36px;
    padding-left: 64px;
    padding-top: 30px;
    background: url(../images/arrow.png) no-repeat;
    font: 0.3em $handwritten;
  }
    .narrow_center {
      width: 400px;
      margin: 0 auto 40px auto;
    }
    .step3-tip {
      position: inherit;
      margin-left: auto;
      padding-left: 120px;
      padding-top: 0;
      background-position: 0 center;
      text-align: center
    }
      .right-arrow {
        display: inline-block;
        background: url(../images/arrow_r.png) no-repeat right center;
        width: 85px;
        height: 29px;
      }

  .step1{
    border-top: 9px solid $step1Color;
    @include article_background('../images/step1.jpg');
  }
  .step2{
    border-top: 9px solid $step2Color;
    @include article_background('../images/step2.jpg');
  }
  .step3{
    border-top: 9px solid $step3Color;
    @include article_background('../images/step3.jpg');
  }

  input[type=text] {
    height: 1.33em;

    border: 0px;
    border-bottom: 2px solid $dark;
    background: none;

    font-size: 0.7em;
    font-family: $handwritten;
    letter-spacing: 5px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
  .calendar-input {
    width: 5.4em;
  }
  .normal-input {
    width: 8em;
  }

}

.submit {
  width: 460px;
  height: 99px;
  margin: 60px auto 80px auto;
  background-color: $dark;
  background-image: url(../images/submit.jpg);
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  transition: .4s;

  border-top: 0 solid;
  border-right: 0 solid;
  background-position: 0 0;

  cursor: pointer;

  &:hover {
    border-top: 4px solid $light2;
    border-right: 4px solid $light1;
    background-position: -4px 0;
    box-shadow: inset 4px -4px 5px #111;
  }
}
